# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android
android/.gradle
android/app/build

# iOS
ios/Pods/
ios/.symlinks

# .NET
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db